<footer class="border-top footer text-muted mt-4">
    <div class="container">
        &copy; @DateTime.Now.Year - Web - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</footer>